<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.paypalobjects.com/pph/websdk/js/pphwebsdk-1.1.12.min.js"></script>
    <script src="/pianoforte/scripts/paypal-emv.js"></script>
    <title>EMV Checkout Page</title>
</head>
<body>
<div class="wrapper">
<button type="button" id='setupPPH' onclick='onSetupPayPalHereBtnClicked()'>Setup PayPal Here</button>
</div>
</body>
</html>